/* CSS variables */
:root {
  /* Fonts */
  --font: 'Rubik', system-ui, sans-serif;
  --font-size-0: 0.75rem;
  --font-size-1: 1rem;
  --font-size-2: 1.125rem;
  --font-size-3: 2.5rem;
  --font-weight-1: 300;
  --font-weight-2: 400;
  --font-weight-3: 500;

  /* Colors */
  --surface-1: hsl(246, 80%, 60%);

  --header-1: hsl(15, 100%, 70%);
  --header-2: hsl(195, 74%, 62%);
  --header-3: hsl(348, 100%, 68%);
  --header-4: hsl(145, 58%, 55%);
  --header-5: hsl(264, 64%, 52%);
  --header-6: hsl(43, 84%, 65%);

  --accent-1: hsl(236, 100%, 87%);
  --accent-2: hsl(235, 45%, 61%);
  --accent-3: hsl(235, 46%, 20%);
  --accent-4: hsl(226, 43%, 10%);

  --white: hsl(236, 4%, 95%);

  /*
    Gradients
    To stop color overlapping on bottom edges

  */
  --gradient-end: var(--accent-3) 90%, var(--accent-3) 100%;

  --gradient-1: linear-gradient(
    to bottom,
    var(--header-1) 0%,
    var(--header-1) 90%,
    var(--gradient-end)
  );

  --gradient-2: linear-gradient(
    to bottom,
    var(--header-2) 0%,
    var(--header-2) 90%,
    var(--gradient-end)
  );

  --gradient-3: linear-gradient(
    to bottom,
    var(--header-3) 0%,
    var(--header-3) 90%,
    var(--gradient-end)
  );

  --gradient-4: linear-gradient(
    to bottom,
    var(--header-4) 0%,
    var(--header-4) 90%,
    var(--gradient-end)
  );

  --gradient-5: linear-gradient(
    to bottom,
    var(--header-5) 0%,
    var(--header-5) 90%,
    var(--gradient-end)
  );

  --gradient-6: linear-gradient(
    to bottom,
    var(--header-6) 0%,
    var(--header-6) 90%,
    var(--gradient-end)
  );

  /* Sizes */
  --size-0: -0.25rem;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-4: 1.25rem;
  --size-5: 1.5rem;
  --size-6: 2rem;

  /* Borders */
  --radius-1: 0.5rem;
  --radius-2: 1rem;
  --radius-round: 1e5px;

  /* Easing */
  --easing-1: 0.5s ease-in-out;

  /* Breakpoints */
  --breakpoint-1: 30ch;
  --breakpoint-2: 1440px;
}

/* Basic styles */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  block-size: 100%;
  font-family: var(--font);
}

body {
  min-block-size: 100%;
  display: grid;
  place-content: center;
  padding-block: var(--size-6);
  background-color: var(--accent-4);
}

img {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

/* Heading styles */
h1,
h2,
h3 {
  margin: 0;
  line-height: 1.25;
}

h1 {
  font-weight: var(--font-weight-1);
}

h2 {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-2);
}

h3 {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-1);
}

/* Link styles */
a {
  display: flex;
  align-items: center;
  cursor: pointer;
  touch-action: manipulation;
  margin: var(--size-0);
  padding: var(--size-1);
  text-decoration: inherit;
  text-underline-offset: 1px;
}

a {
  color: var(--accent-1);
  transition: color var(--easing-1);
}

a.active,
a:hover {
  color: var(--white);
}

a > svg {
  fill: var(--accent-1);
  transition: fill var(--easing-1);
}

a:hover > svg {
  fill: var(--white);
}

/* Text styles */
span {
  font-size: var(--font-size-0);
  color: var(--accent-1);
}

/* Main grid */
main {
  display: grid;
  gap: var(--size-6);
}

/* Nav styles */
nav {
  display: flex;
  justify-content: space-between;
  padding: var(--size-5);
}

/* Card base styles */
.card {
  max-inline-size: var(--breakpoint-1);
  inline-size: 50vw;
  background-color: var(--accent-3);
  border-radius: var(--radius-1);
  color: var(--white);
}

/* Big card */
.card-big > header {
  display: flex;
  align-items: center;
  gap: var(--size-3);
  padding: var(--size-5);
  background: var(--surface-1);
  border-radius: var(--radius-1);
}

.description {
  display: flex;
  flex-direction: column;
  gap: var(--size-1);
}

.description > * {
  margin: 0;
}

.card-big img {
  inline-size: 4rem;
  border: 3px solid var(--white);
  border-radius: var(--radius-round);
}

/* Small cards */
.card:not(.card-big) {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Title bar images */
.card:not(.card-big) > img {
  block-size: 35px;
  margin-inline-start: auto;
  margin-inline-end: 12%;
  object-fit: cover;
  transform: scale(1.6);
}

/* Title bar colors with hard-stop gradient */
.card-1 {
  background-image: var(--gradient-1);
}

.card-2 {
  background-image: var(--gradient-2);
}

.card-3 {
  background-image: var(--gradient-3);
}

.card-4 {
  background-image: var(--gradient-4);
}

.card-5 {
  background-image: var(--gradient-5);
}

.card-6 {
  background-image: var(--gradient-6);
}

/* Small card section styles */
.card:not(.card-big) section {
  align-items: center;
  flex-grow: 1;
  inline-size: 100%;
  padding: var(--size-4);
  background: var(--accent-3);
  border-radius: var(--radius-1);
  z-index: 10;
}

/* Small card header styles */
.card:not(.card-big) header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: var(--size-4);
}

/* Desktop size */
@media screen and (min-width: 1000px) {
  /* Defining cards narrower */
  :root {
    --breakpoint-1: 20ch;
  }

  /* Grid */
  main {
    max-inline-size: var(--breakpoint-2);
    inline-size: 75%;
    grid-template-columns: repeat(4, 1fr);
  }

  /* Place big card on grid an change direction */
  .card-big {
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
  }

  /* Let big card header grow, widen gap, realign content */
  .card-big > header {
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-6);
  }

  /* Let navigation shrink, change direction, define gap */
  nav {
    flex-grow: 0;
    flex-direction: column;
    gap: var(--size-3);
  }
}
